[submodule "contracts/sale"]
	path = contracts/sale
	url = https://github.com/jhfnetboy/Custom-Sale-Contract
[submodule "yetanotheraa"]
	path = yetanotheraa
	url = git@github.com:AAStarCommunity/YetAnotherAA.git
[submodule "aastar-sdk"]
	path = aastar-sdk
	url = git@github.com:AAStarCommunity/aastar-sdk.git
